* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(123, 194, 197);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 500px;
    min-height: 300px;
    background-color: azure;
    border-radius: 13px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


#city-input {
    padding: 10px;
    width: 70%;
    border-radius: 6px;
    border: 1px solid rgb(123, 194, 197);
    outline: none;
}

#SearchBtn {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgb(123, 194, 197);
    background-color: white;
}

.Input-area {
    width: 100%;
    text-align: center;
}

.Input-area input,
.Input-area button {
    margin-top: 15px;
}

.weather-box{
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    border: 1px solid rgb(123, 194, 197);
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.city{
    font-size: 22px;
    font-weight: bold;
}
.temp{
    font-size: 30px;
    font-weight: bold;
}
.condition{
    font-size: 16px;
}
.weather-box img {
    width: 80px;
    height: 80px;
    align-self: center;
}
