*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    height: 300px;
    width: 600px;
    background-color: azure;
    border-radius: 13px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main h1{
    margin-bottom: 20px;
}
.input-text{
    margin: 20px;
    padding: 10px;
    width: 50%;
}
#result{
    margin-top: 10px;
}